.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    font-weight: 400;
    background-color: black;
    color: white;
    margin: 18px 9px;
    margin-bottom: 0;
}

.headerContainer a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.active {
    color: rgb(191, 136, 255) !important;
}
